@charset "UTF-8";
/* CSS Document */
body {
	background-color: transparent;
    background-repeat: repeat, no-repeat;
    background-position:  center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
}
a {
 color: #888;
 font-weight: bold;
 text-decoration:none;
 
}
#header p {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FEC77C;
	margin: 0;
	padding: 0;
	line-height: 12px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px #4C3A22;
}
.wrapper {
	width: 100%;
}
#header {
	 width: 600px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 0%;
   margin-left: -300px;
}
.logo {
	margin: 0 auto;
	width: 536px;
}
#footer {
	width: 200px;
	height: 40px;
	position: fixed;
	bottom: 0;
	right:10px;
	background-color:rgba(0,0,0,0.7);
	margin: 0 auto;
	-webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
	z-index: 99;
}
#footer p {
	margin: 0;
	padding-top: 5px;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FEC77C;
	
}